header {
	width: 100%;
	padding: 20px;
}

.container-fluid {
	background-color: #000;
	height: 100%;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 32px;
	font-weight: bold;
	color: #f6f6f6;
	text-align: center;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
	color: #FFF;
	
}

h3 {
	font-family: 'Shadows Into Light', cursive;
	color: #fff;
	font-size: 40px; 
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	width: 100%;
	padding: 5%;
	line-height: 60px;
}

.blanks {
	font-family: 'Arial', sans-serif;
	color: #fff;
	font-size: 40px; 
	text-align: center;
	margin: 5px;
	line-height: 60px;
	display: inline-block;
	padding: 20px 0;
}

#game {
	width: 80%;
	background: #666;
	margin: 20px auto;
	padding: 20px;
}

p  {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	line-height: 30px;
	color: #eee;
	letter-spacing: .5px;
}

footer {
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 16px;
	padding: 10px;
}