html {
	min-height: 100%;
	position: relative;
	display: block;
}
header {
	width: 100%;
	padding: 20px;
}

body {
	background-color: #000;
}

@font-face {
	font-family: gameOfThrones;
	src: url(../fonts/Game-of-Thrones.ttf);
}

h1 {
	font-family: gameOfThrones, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #f6f6f6;
	text-align: center;
}

.image {
	width: 100%;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
	color: #FFF;
	display: inline-block;
	text-align: center;
}

h3 {
	font-family: 'Shadows Into Light', cursive;
	color: #fff;
	font-size: 40px; 
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	width: 100%;
	padding: 5%;
	line-height: 60px;
}

.blanks {
	font-family: 'Shadows Into Light', sans-serif;
	color: #fff;
	font-size: 40px; 
	text-align: center;
	margin: 5px;
	line-height: 60px;
	display: inline-block;
	padding: 40px 0;
	height: 150px;
}

.game {
	width: 80%;
	background: #666;
	margin: 20px auto;
	padding: 20px;
	position: relative;
}

.tracker {
	background-color: gray;
	color: #fff;
	font-family: 'Shadows Into Light', cursive;
	font-size: 12px;
	text-align: center;
}

.wins {
	background-color: green;
	height: 100px;
	padding: 10px;
	
}

.remainingGuesses {
	background-color: red;
	height: 100px;
	padding: 10px;
}

.wrongLetters {
	height: 100px;
	padding: 10px;
	background-color: blue;
}

.col-md-4.wrongLetters p {
	font-size: 16px;
}

.col-md-5.remainingGuesses p {
	font-size: 16px;
}

.col-md-3.wins p {
	font-size: 16px;
}

p  {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	line-height: 30px;
	color: #eee;
	letter-spacing: .5px;
	text-align: margin;
}

.footer {
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 16px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
}

p.image {
	color: #fff;
	text-align: center;
}
